.awardContainer {
	background: none;
	}

.awardImg {
	border: solid 1px black;
	width: 200px;
	height: 200px;
	display: inline-block;
	opacity: 0.8;
	border-radius: 25px;
}

.awardList {
	max-width: 30%;
	display: inline-block;
}

.awardList p {
	background:rgba(0, 0, 0, 0.71);
	opacity: 0.8;
	border-radius: 10px;
	color: white;
	padding: 7px;
}



