.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 60px;
  max-height: 600px;
  overflow: auto;
}

.products-container h2, h3,p {
  color: #fff;
  text-align: center;
  
}

.info {
  background: rgba(0, 0, 0, 0.71) ;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  margin: 4px;
  overflow: scroll;
}

.info img {
  display: block;
  margin: auto;
  padding-top: 30px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}


